<%= form_for([@post, @post.comments.build]) do |f| %>
  <div class="field">
    <%= f.text_field :content %>
  </div>
  <div class="actions">
    <%= f.submit 'Reply', class: "btn btn-success reg-btn-size" %>
  </div>
<% end %>